<!DOCTYPE html>
<div data-page="factoresRiesgo" class="page">
    <div class="navbar">
        <div class="navbar-inner background-color-cervix">
            <div class="left"><a href="../index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">Factores de Riesgo</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <div class="page-content hide-navbar-on-scroll background-color-cervix">
        <div data-pagination=".swiper-pagination" data-parallax="true" data-nextButton=".swiper-button-next" data-prevButton=".swiper-button-prev" data-speed="600" class="swiper-container swiper-init ks-parallax-slider">
            <div data-swiper-parallax="-23%" class="swiper-parallax-bg background-color-cervix"></div>
            <div class="swiper-pagination color-white"></div>
            <div class="swiper-button-next color-white"></div>
            <div class="swiper-button-prev color-white"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Virus del Papiloma Humano (VPH)</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">El principal factor de riesgo.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/vph.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-400" class="text-justify">
                        <p>
                            El factor de riesgo más importante del cáncer de cuello
                            uterino es la infección por VPH. Este virus se transmite mayormente de una
                            persona a otra durante las relaciones sexuales. Hay diferentes tipos, o cepas,
                            de VPH, y algunas cepas se vinculan más estrechamente con ciertos tipos de cáncer.
                            Las vacunas contra el virus del papiloma humano brindan protección contra cepas
                            específicas del virus.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Tabaquismo</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">Las mujeres fumadoras aumentan el riesgo de contraer cáncer.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/tabaquismo.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            Cuando alguien fuma, tanto el fumador como las personas que le rodean
                            están expuestos a muchas sustancias químicas cancerígenas que afectan otros órganos, además
                            de los pulmones. Las mujeres que fuman tienen dos veces más riesgo de desarrollar cáncer de
                            cuello uterino que las mujeres que no fuman.  Se han detectado subproductos del tabaco en
                            la mucosidad cervical de mujeres fumadoras. Los investigadores creen que estas sustancias
                            dañan el ADN de las células en el cuello uterino y pueden contribuir al origen del cáncer
                            de cuello uterino. Además, fumar hace que el sistema inmunológico sea menos eficaz en combatir
                            las infecciones con VPH.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Infección con Clamidia</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">En ocasiones la clamidia no presenta síntomas.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/clamidia.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            La clamidia es una clase relativamente común de bacteria que puede infectar
                            el sistema reproductor. Se transmite mediante el contacto sexual.  Algunos estudios han indicado
                            que las mujeres cuyos resultados de análisis de sangre muestran evidencia de una infección pasada
                            o actual con clamidia tienen mayor riesgo de cáncer de cuello uterino que las mujeres con un análisis
                            de sangre normal. A menudo, las mujeres que están infectadas con clamidia no presentan síntomas.
                            De hecho, puede que no sepan que están infectadas a menos que se les practique un examen de clamidia
                            durante un examen pélvico.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Inmunosupresión</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">El VIH puede ocasionar que un precáncer se desarrolle más rápidamente.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/vih.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            El virus de inmunodeficiencia humana (VIH), el virus que causa el SIDA,
                            causa daño al sistema inmunológico y ocasiona que las mujeres estén en un mayor riesgo de
                            infecciones con VPH.  El sistema inmunológico es importante para destruir las células
                            cancerosas, así como para retardar su crecimiento y extensión. En las mujeres infectadas
                            con VIH, un precáncer de cuello uterino puede transformarse en un cáncer invasivo con mayor
                            rapidez de la normal.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Pocas Frutas y Verduras</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">La comida saludable ayuda a prevenir muchas enfermedades.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/fruit.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            Las mujeres con una alimentación que no incluya suficientes frutas, ensaladas y verduras
                            pueden tener un mayor riesgo de cáncer de cuello uterino.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Tener Sobrepeso</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">El sobrepeso es la causa de varias patologías.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/burger.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            Las mujeres que tienen sobrepeso tienen una mayor probabilidad de padecer
                            adenocarcinoma del cuello uterino.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Uso Prolongado de Anticonceptivos Orales</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">Las píldoras anticonceptivas en exceso pueden ser en parte un factor de riesgo.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/anticonceptivo.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            Existe evidencia de que el uso de píldoras anticonceptivas por períodos
                            prolongados aumenta el riesgo de cáncer de cuello uterino. La investigación sugiere que el
                            riesgo de cáncer de cuello uterino aumenta mientras más tiempo una mujer tome las píldoras,
                            pero el riesgo se reduce nuevamente después de suspender las píldoras.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Muchos Embarazos a Término</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">Varios embarazos a término aumenta las posibilidades de contraer cáncer de cuello uterino.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/mother.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            Las mujeres que han tenido tres o más embarazos a término (completos) tienen
                            un riesgo aumentado de padecer cáncer de cuello uterino. Nadie sabe realmente la razón de esto.
                            Una teoría consiste en que estas mujeres pudieron haber tenido relaciones sexuales (coito)
                            sin protección para quedar embarazadas, por lo que pudieron haber estado más expuestas al VPH.
                            Además, algunos estudios han indicado que los cambios hormonales durante el embarazo podrían causar
                            que las mujeres sean más susceptibles a infección con VPH o crecimiento tumoral.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Tener Menos de 17 Años en el Primer Embarazo a Término</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">Embarazos antes de los 17 es un factor de riesgo latente.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/embarazo.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            Las mujeres que tuvieron su primer embarazo a término a la edad de 17 años o menos
                            son casi dos veces más propensas a llegar a tener cáncer de cuello uterino posteriormente en la vida
                            que las que tuvieron su primer embarazo a los 25 años o después.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Pobreza</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">La falta de recursos en ocaciones es obstaculo para una adecuada atención.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/pobreza.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            La pobreza es también un factor de riesgo para el cáncer de cuello uterino.
                            Muchas mujeres con bajos ingresos no tienen acceso fácil a servicios adecuados de atención a la
                            salud, incluyendo las pruebas de Papanicolaou. Esto significa que es posible que no se hagan las
                            pruebas de detección ni reciban tratamiento para precánceres de cuello uterino.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Exposición al Dietilestilbestrol (DES)</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">Aunque es menos frecuente, sigue siendo un factor de riesgo a tomar en cuenta.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/des.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            El dietilestilbestrol (DES) es un medicamento hormonal que se administraba
                            a algunas mujeres para prevenir el aborto espontáneo entre 1940 y 1971. Las mujeres cuyas madres
                            tomaron DES (cuando estaban embarazadas de ellas) padecen de adenocarcinoma de células claras de
                            la vagina o del cuello uterino con más frecuencia de lo que normalmente se esperaría.
                            Este tipo de cáncer se presenta muy rara vez en mujeres que no hayan sido expuestas al DES.
                            Existe alrededor de un caso de este tipo de cáncer en cada 1,000 mujeres cuyas madres tomaron DES
                            durante el embarazo. Esto significa que aproximadamente 99.9% de las "hijas del DES" no padecen de
                            estos cánceres.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div data-swiper-parallax="-100" class="swiper-slide-title">Antecedente Familiar de Cáncer de Cuello Uterino</div>
                    <div data-swiper-parallax="-100" class="swiper-slide-subtitle">La genética juega un papel importante.</div>
                    <br>
                    <div data-swiper-parallax="-200" class="swiper-slide-pic card-content">
                        <img src="img/factoresRiesgo/adn.png" width="100%"/>
                    </div>
                    <div data-swiper-parallax="-300" class="text-justify">
                        <p>
                            El cáncer de cuello uterino puede presentarse con mayor frecuencia en
                            algunas familias. Si su madre o hermana tuvieron cáncer de cuello uterino, sus probabilidades
                            de padecer esta enfermedad aumentan de dos a tres veces en comparación a si nadie en la familia
                            lo hubiera padecido.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
